<!DOCTYPE html>
<html ng-app=game>
<meta charset=utf-8>
<meta content="width=device-width,initial-scale=1,user-scalable=no" name=viewport>
<link href="css/bootstrap.min.css" rel=stylesheet>
<link href="css/game.min-v=1.css" rel=stylesheet>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-sanitize.min.js"></script>
<script src="js/lz-string.min.js"></script>
<script src="js/game.min-v=a.js"></script>
<meta content="Idle Painters" name=application-name>
<title>放置画家 - Idle Painters</title>
<body ng-controller=GameController ng-mousedown=gameMouseDown($event) ng-mousemove=onWorkerMove($event) ng-mouseup=stopWorkerMove($event)>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-12215585-10', 'auto');
        ga('send', 'pageview');

    </script>
    <div id=gamearea>
        <div class=container ng-if=!init id=initializing>初始化...</div>
        <script>
            setTimeout(function() {
                var e = document.getElementById('initializing');
                if (e) e.innerHTML = 'Something went wrong.<br/>May be you have a slow internet connection.<br/>Or you are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.';
            }, 10000);

        </script>
        <div class="container-fluid ng-hide" ng-show=init ng-cloak>
            <div class="navbar navbar-default">
                <div class=container-fluid>
                    <div class=navbar-brand>放置画家 <small>v. {{gameVer}}</small></div>
                    <div class="pull-right text-right"><span class=animate-fade ng-show=isSaveTextVisible ng-bind=saveText></span> <span class="glyphicon text-primary" ng-class=saveIconState() ng-click=saveGameParams() role=button></span>
                        <div></div>
                        <p class="animate-fade save-timer small text-info" ng-show=isSaveDone()>距离上次保存已经过了{{timeFromLastSave()}}秒</div>
                </div>
            </div>
            <div class=clearfix></div>
            <div class="panel panel-success animate-slide tutorial-highlight" ng-show=isTutorialAnyStepActive()>
                <div class=panel-heading>
                    <h3 class=panel-title>教程</h3></div>
                <div class=panel-body>
                    <p ng-bind-html=tutorialGetActiveStepText()>
                        <div class=row>
                            <div class=col-sm-4></div>
                            <div class=col-sm-4>
                                <div class="btn-group btn-group-justified" role=group aria-label="Justified button group" ng-if=tutorialShowContinueButton()><a href="index.html#" m-prevent-default ng-click=tutorialOnClickContinue() class="btn btn-success center-block" type=button>继续</a></div>
                            </div>
                            <div class=col-sm-4><a href="index.html#" m-prevent-default ng-click=tutorialFinish() class="btn btn-default pull-right" type=button>跳过教程</a></div>
                        </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class=panel-body>
                    <div class=row>
                        <div class=col-sm-3><b>金钱</b>: ${{money() | bignum:2:3}}<span class=animate-fade ng-show="isAdsAvailable() && boostList.money.available()"> <button class="btn btn-info btn-xs" ng-click="showBoostDialog('money')" type=button><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </div>
                        <div class=col-sm-9 ng-class="{'tutorial-highlight':isTutorialStepNameHighlight('paintBucket')}"><span class=pull-left><b>颜料</b>: </span><span class=pull-right style=width:30px;min-height:1px;display:block><span class=animate-fade ng-show="isAdsAvailable() && boostList.paint.available()"><button class="btn btn-info btn-xs" ng-click="showBoostDialog('paint')" type=button><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                            </span>
                            <uibm-progressbar max=paintMax() value=paint()>{{paint() | bignum:2}} / {{paintMax() | bignum:0}} ({{paint() * 100 / paintMax() | number:2}}%) +{{paintSpeed() | bignum:2}}/秒</uibm-progressbar>
                        </div>
                    </div>
                </div>
            </div>
            <section ng-controller="TabsController as tab">
                <ul class="nav nav-tabs">
                    <li ng-class="{active:tab.isSelected(0), 'tutorial-highlight':isTutorialStepNameHighlight('layer1') || isTutorialStepNameHighlight('layer1AfterAch') || isTutorialStepNameHighlight('layer1progress') || isTutorialStepNameHighlight('pic1lvl2') || isTutorialStepNameHighlight('pic1lvl2up') || isTutorialStepNameHighlight('magicBrushBought') || isTutorialStepNameHighlight('paintBucket') || isTutorialStepNameHighlight('selectMagicBrush') || isTutorialStepNameHighlight('helper1descr')}" role=presentation><a href="index.html#" m-prevent-default ng-click=tab.select(0)>画室</a>
                        <li ng-class="{active:tab.isSelected(1), 'tutorial-highlight':isTutorialStepNameHighlight('start') || isTutorialStepNameHighlight('pictureFinish') || isTutorialStepNameHighlight('sell1') || isTutorialStepNameHighlight('pic2buy') || isTutorialStepNameHighlight('pic2buy2') || isTutorialStepNameHighlight('pic2select')}" role=presentation><a href="index.html#" m-prevent-default ng-click=tab.select(1)>商店</a>
                            <li ng-class="{active:tab.isSelected(2), 'tutorial-highlight':isTutorialStepNameHighlight('upgrade') || isTutorialStepNameHighlight('magicBrush') || isTutorialStepNameHighlight('pic1lvl3finish') || isTutorialStepNameHighlight('helper1')}" role=presentation><a href="index.html#" m-prevent-default ng-click=tab.select(2)>升级</a>
                                <li ng-class="{active:tab.isSelected(3), 'tutorial-highlight':isTutorialStepNameHighlight('1stAch') || isTutorialStepNameHighlight('achSuperClicker') || isTutorialStepNameHighlight('achOther') || isTutorialStepNameHighlight('achQualImpr')}" role=presentation><a href="index.html#" m-prevent-default ng-click=tab.select(3)>成就 <span class="glyphicon glyphicon-info-sign" ng-show=isNewAchievementAvailable()></span></a>
                                    <li ng-class={active:tab.isSelected(4)} role=presentation><a href="index.html#" m-prevent-default ng-click=tab.select(4)>统计</a>
                                        <li ng-class={active:tab.isSelected(5)} role=presentation><a href="index.html#" m-prevent-default ng-click=tab.select(5)>加成</a>
                                            <li ng-class={active:tab.isSelected(6)} role=presentation><a href="index.html#" m-prevent-default ng-click=tab.select(6)>设置</a></ul>
                <div class=tab-content ng-show=tab.isSelected(0)>
                    <div class="panel panel-default" ng-class="{'tutorial-highlight':isTutorialStepNameHighlight('pic1lvl2up') || isTutorialStepNameHighlight('magicBrushBought') || isTutorialStepNameHighlight('paintBucket')}">
                        <div class=panel-body>
                            <div ng-hide=isCurrentPictureFinished()>
                                <div class=row ng-class="{'tutorial-highlight':isTutorialStepNameHighlight('layer1progress')}">
                                    <div class=col-sm-3><b>画作质量</b>: {{getPictureLevel(getCurrentPictureId())}}</div>
                                    <div class=col-sm-9><span class=pull-left><b>图层进度</b>:</span>
                                        <uibm-progressbar max=getFillMax() value=getFillCnt()>{{getFillCnt() | bignum:0:3}} / {{getFillMax() | bignum:0:3}} ({{getFillCnt() * 100 / getFillMax() | number:2}}%)</uibm-progressbar>
                                    </div>
                                </div>
                                <div class=visible-xs-block>
                                    <p>
                                        <div class=row>
                                            <div class="text-center col-sm-4" ng-class="{'tutorial-highlight':isTutorialStepNameHighlight('selectMagicBrush')}"><b>画笔</b>
                                                <br>
                                                <div class=btn-group role=group>
                                                    <button class="btn btn-default" ng-click=selectBrush($index) type=button ng-disabled=!isBrushBought($index) ng-class="{active:currentBrushId() == $index}" ng-repeat="item in brushList">{{item.shortName}}</button>
                                                </div>
                                                <br>{{getBrushStrength(currentBrushId()) | bignum:0:3}} 像素/点击
                                                <br>{{getBrushConsumption(currentBrushId()) | bignum:3:3}} 颜料/点击</div>
                                            <div class="text-center col-sm-4" ng-repeat="item in workerList"><b>{{item.name}}</b>
                                                <br>
                                                <div class=btn-group role=group ng-class="{'tutorial-highlight':$index == 0 && isTutorialStepNameHighlight('helper1descr')}">
                                                    <button class="btn btn-default" ng-click=switchWorkerActivity($index) type=button ng-disabled=!isWorkerBought($index) ng-class={active:workerParams()[$index].active}>激活</button>
                                                    <button class="btn btn-default" ng-click=startCancelChangingWorkerPos($index) type=button ng-disabled=!isWorkerBought($index) ng-class={active:workerSettingNewPos()[$index]}>设定位置</button>
                                                </div>
                                                <br><span ng-if=isWorkerBought($index)>{{getWorkerStrength($index) / getWorkerDrawInterval($index) | bignum:0:3}} 像素/秒<br>{{getWorkerConsumptionPerSec($index) | bignum:3:3}} 颜料/秒</span></div>
                                        </div>
                                </div>
                            </div>
                            <div ng-show=isCurrentPictureFinished()>
                                <div class=row>
                                    <div class="text-center col-sm-6 col-sm-offset-3">
                                        <button class="btn btn-success improve-button" ng-click=doNextPictureLevel() type=button>提高图像质量到 {{getPictureLevel(getCurrentPictureId()) + 1}}</button>
                                    </div>
                                    <div class="col-sm-3 text-right" ng-if=isPictureQualityImproverActive()>
                                        <button class="btn btn-info btn-sm improve-button" ng-click=pictureAutoImproveSwitchState() type=button ng-class="{'active':isPictureAutoImproveActive()}">自动提高 <span ng-if=isPictureAutoImproveActive()>in {{pictureAutoImproveTimeRemain()}}s</span><span ng-if=!isPictureAutoImproveActive()>关闭</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class=img-table>
                        <tr>
                            <td width=30% class=hidden-xs>
                                <div class="panel panel-default">
                                    <div class="text-center panel-body">
                                        <div ng-class="{'tutorial-highlight':isTutorialStepNameHighlight('selectMagicBrush')}"><b>画笔</b>
                                            <br>
                                            <div class=btn-group role=group>
                                                <button class="btn btn-default" ng-click=selectBrush($index) type=button ng-disabled=!isBrushBought($index) ng-class="{active:currentBrushId() == $index}" ng-repeat="item in brushList">{{item.shortName}}</button>
                                            </div>
                                            <br>{{getBrushStrength(currentBrushId()) | bignum:0:3}} 像素/点击
                                            <br>{{getBrushConsumption(currentBrushId()) | bignum:3:3}} 颜料/点击
                                            <br>
                                        </div>
                                        <br>
                                        <div class=text-center ng-repeat="item in workerList" ng-hide=isCurrentPictureFinished()><b>{{item.name}}</b>
                                            <br>
                                            <div ng-class="{'tutorial-highlight':$index == 0 && isTutorialStepNameHighlight('helper1descr')}">
                                                <button class="btn btn-default" ng-click=switchWorkerActivity($index) type=button ng-disabled=!isWorkerBought($index) ng-class={active:workerParams()[$index].active}>激活</button>
                                                <br>
                                                <button class="btn btn-default" ng-click=startCancelChangingWorkerPos($index) type=button ng-disabled=!isWorkerBought($index) ng-class={active:workerSettingNewPos()[$index]}>设置位置</button>
                                            </div><span ng-if=isWorkerBought($index)>{{getWorkerStrength($index) / getWorkerDrawInterval($index) | bignum:0:3}} pixels/sec<br>{{getWorkerConsumptionPerSec($index) | bignum:3:3}} 颜料/秒</span>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <td>
                                    <div class=img-wrap ng-class="{width300:isSmallCanvas, 'tutorial-highlight':isTutorialStepNameHighlight('layer1')}">
                                        <canvas class=img-wrapped id=canvas-bottom></canvas>
                                        <canvas class=img-wrapped id=canvas ng-click=doClickCanvas($event)></canvas>
                                        <div class=img-wrapped ng-class="{hidden:isCurrentPictureFinished() || !isWorkerBought($index),transparent:!item.active,'tutorial-highlight':isTutorialStepNameHighlight('helper1descr')}" ng-repeat="item in workerParams()" ng-mousedown="startWorkerMove($index, $event)" ng-style="{left:getWorkerPosX($index)+'px',top:getWorkerPosY($index)+'px','background-image': 'url(\'' + getWorkerIconURL($index) + '\')'}" style=width:48px;height:48px></div>
                                    </div>
                    </table>
                </div>
                <div class=tab-content ng-if=tab.isSelected(1)>
                    <table class="shop table" ng-controller="ShopController as shopCtr">
                        <tr ng-if="$index == 0 || getPictureLevel($index - 1) >= 0" ng-class="{info:getCurrentPictureId() == $index}" ng-repeat-start="item in shopCtr.pictureList">
                            <td width=50>
                                <button class="btn btn-default thumb-button" ng-click=shopCtr.selectPicture($index) ng-disabled="getPictureLevel($index) < 0" ng-class="{'tutorial-highlight': ($index == 0 && isTutorialStepNameHighlight('start')) || ($index == 1 && isTutorialStepNameHighlight('pic2select'))}"><img class=img-thumb ng-src="{{shopCtr.isOpened($index) ? shopCtr.getPictureUrl($index) : shopCtr.isBought($index) ? shopCtr.getCanvasImgUrl($index) : shopCtr.getLockImgUrl($index)}}"></button>
                                <uibm-progressbar max="shopCtr.getPictureSpeedUpNextLevel($index) - shopCtr.getPictureSpeedUpPrevLevel($index)" value="getPictureLevel($index) - shopCtr.getPictureSpeedUpPrevLevel($index)" class=animate-fade ng-show=shopCtr.isBought($index) type=success>{{getPictureLevel($index)}}</uibm-progressbar>
                                <td ng-class="{'tutorial-highlight': $index == 1 && isTutorialStepNameHighlight('pic2buy2')}">
                                    <button class="btn btn-default" ng-click=shopCtr.doBuy($index) type=button ng-disabled=!shopCtr.canBuy($index) ng-if="!shopCtr.isBought($index) && $index > 0 && getPictureLevel($index - 1) > 0">购买消耗 ${{shopCtr.pictureList[$index].buyPrice | bignum:2}}</button> <span class=animate-fade ng-show=shopCtr.isBought($index)>画作质量 {{getPictureLevel($index)}}<span ng-if="getCurrentPictureId() == $index"> (完成度达到{{shopCtr.paintedPercentRemain()}}%以增加画作质量)</span> <span ng-if="getPictureLevel($index) > 0"><br>价格 ${{shopCtr.getPictureSellPrice($index) | bignum:2}}<br></span>
                                    <button class="btn btn-default btn-xs" ng-click=shopCtr.startSellingPicture($index) type=button ng-class="{'tutorial-highlight': $index == 0 && isTutorialStepNameHighlight('sell1')}" ng-if=shopCtr.showSellButton($index)>出售</button>
                                    <div ng-if="!isSmallCanvas && shopCtr.showSellProgress($index)"><span class=pull-left>出售进度:</span>
                                        <uibm-progressbar max=shopCtr.getSellTimeTotal($index) value=shopCtr.getSellTimeFromStart($index)>{{shopCtr.getSellTimeFromStartFormatted($index)}} / {{shopCtr.getSellTimeTotalFormatted($index)}}</uibm-progressbar>
                                    </div>
                                    </span>
                                    <td width=140>
                                        <button class="btn btn-default" ng-click=shopCtr.doHire($index) type=button ng-disabled=!shopCtr.canHire($index) ng-if="shopCtr.isBought($index) && !shopCtr.isManaged($index) && getPictureLevel($index) > 0">聘请经理
                                            <br>消耗 ${{shopCtr.pictureList[$index].managerPrice | bignum:0:3}}</button> <span ng-if=shopCtr.isManaged($index)>经理被雇用并每天24小时出售这张照片。</span>
                                        <tr ng-if="isSmallCanvas && shopCtr.showSellProgress($index)" ng-class="{info:getCurrentPictureId() == $index}" ng-repeat-end>
                                            <td colspan=3>
                                                <div><span class=pull-left>出售进度:</span>
                                                    <uibm-progressbar max=shopCtr.getSellTimeTotal($index) value=shopCtr.getSellTimeFromStart($index)>{{shopCtr.getSellTimeFromStartFormatted($index)}} / {{shopCtr.getSellTimeTotalFormatted($index)}}</uibm-progressbar>
                                                </div>
                    </table>
                </div>
                <div class=tab-content ng-if=tab.isSelected(2) ng-controller="UpgradeController as upgCtr">
                    <div class="panel panel-primary">
                        <div class=panel-heading>颜料桶</div>
                        <div class=panel-body>
                            <p>颜料桶包含可用于创建图片的魔术涂料。
                                <table class="shop table table-bordered">
                                    <tr>
                                        <td><b>容量 {{paintMax() | bignum}}</b>
                                            <br><i>升级后: {{upgCtr.getPaintBucketNextRealSize() | bignum}}</i>
                                            <br>
                                            <div class="btn-group btn-group-sm" role=group>
                                                <button class="btn btn-default" ng-click=upgCtr.upgradePaintBucketSize() type=button ng-disabled=!upgCtr.isPaintBucketSizeUpgradeable()>升级消耗 ${{upgCtr.getPaintBucketSizeUpgradePrice() | bignum:2}}</button>
                                                <button class="btn btn-default" ng-click=upgCtr.upgradePaintBucketSize(10) type=button ng-disabled=!upgCtr.isPaintBucketSizeUpgradeable()>+10</button>
                                                <button class="btn btn-default" ng-click=upgCtr.upgradePaintBucketSize(100) type=button ng-disabled=!upgCtr.isPaintBucketSizeUpgradeable()>+100</button>
                                            </div>
                                            <td><b>重装速度 +{{paintSpeed() | bignum:0:3}} 颜料/秒</b>
                                                <br><i>升级后: +{{upgCtr.getPaintBucketNextRealSpeed() | bignum:0:3}} 颜料/秒</i>
                                                <br>
                                                <div class="btn-group btn-group-sm" role=group>
                                                    <button class="btn btn-default" ng-click=upgCtr.upgradePaintBucketSpeed() type=button ng-disabled=!upgCtr.isPaintBucketSpeedUpgradeable($index)>升级消耗 ${{upgCtr.getPaintBucketSpeedUpgradePrice() | bignum:2}}</button>
                                                    <button class="btn btn-default" ng-click=upgCtr.upgradePaintBucketSpeed(10) type=button ng-disabled=!upgCtr.isPaintBucketSpeedUpgradeable($index)>+10</button>
                                                    <button class="btn btn-default" ng-click=upgCtr.upgradePaintBucketSpeed(100) type=button ng-disabled=!upgCtr.isPaintBucketSpeedUpgradeable($index)>+100</button>
                                                </div>
                                </table>
                        </div>
                    </div>
                    <div class="panel panel-success" ng-class="{'tutorial-highlight':$index==1 && isTutorialStepNameHighlight('magicBrush')}" ng-repeat="item in brushList">
                        <div class=panel-heading>{{item.name}}</div>
                        <div class=panel-body>
                            <p>{{item.descr}}
                                <div class=text-center ng-if=!isBrushBought($index)>
                                    <button class="btn btn-default" ng-click=upgCtr.buyBrush($index) type=button ng-disabled=!upgCtr.canBuyBrush($index)>购买刷子消耗 ${{item.price | bignum:2}}</button>
                                </div>
                                <div class=animate-slide ng-show=isBrushBought($index)>
                                    <table class="shop table table-bordered">
                                        <tr>
                                            <td><b>强度等级 {{brushProps($index).strengthLevel}}</b>
                                                <br>创建 {{upgCtr.getBrushStrength($index) | bignum:0:3}} 像素/每次点击
                                                <br><i>升级后: {{upgCtr.getBrushNextStrength($index) | bignum:0:3}} 像素/每次点击</i>
                                                <br>
                                                <div class="btn-group btn-group-sm" role=group>
                                                    <button class="btn btn-default" ng-click=upgCtr.brushUpgradeStrength($index) type=button ng-disabled=!upgCtr.isBrushStrengthUpgradeable($index)>升级消耗 ${{upgCtr.getBrushUpgradeStrengthPrice($index) | bignum:2}}</button>
                                                    <button class="btn btn-default" ng-click="upgCtr.brushUpgradeStrength($index, 10)" type=button ng-disabled=!upgCtr.isBrushStrengthUpgradeable($index)>+10</button>
                                                    <button class="btn btn-default" ng-click="upgCtr.brushUpgradeStrength($index, 100)" type=button ng-disabled=!upgCtr.isBrushStrengthUpgradeable($index)>+100</button>
                                                </div>
                                                <td><b>效率等级 {{brushProps($index).efficiencyLevel}}</b>
                                                    <br>使用 {{upgCtr.getBrushConsumption($index) | number:3}} 颜料/每次点击
                                                    <br><i>升级后: {{upgCtr.getBrushNextConsumption($index) | number:3}} 颜料/每次点击</i>
                                                    <br>
                                                    <div class="btn-group btn-group-sm" role=group>
                                                        <button class="btn btn-default" ng-click=upgCtr.brushUpgradeEfficiency($index) type=button ng-disabled=!upgCtr.isBrushEfficiencyUpgradeable($index)>升级消耗 ${{upgCtr.getBrushUpgradeEfficiencyPrice($index) | bignum:2}}</button>
                                                        <button class="btn btn-default" ng-click="upgCtr.brushUpgradeEfficiency($index, 10)" type=button ng-disabled=!upgCtr.isBrushEfficiencyUpgradeable($index)>+10</button>
                                                        <button class="btn btn-default" ng-click="upgCtr.brushUpgradeEfficiency($index, 100)" type=button ng-disabled=!upgCtr.isBrushEfficiencyUpgradeable($index)>+100</button>
                                                    </div>
                                    </table>
                                </div>
                        </div>
                    </div>
                    <div class="panel panel-info" ng-class="{'tutorial-highlight':$index==0 && isTutorialStepNameHighlight('helper1')}" ng-repeat="item in workerList">
                        <div class=panel-heading>{{item.name}}</div>
                        <div class=panel-body>
                            <p ng-bind-html=item.descr>
                                <div class=text-center ng-if=!isWorkerBought($index)>
                                    <button class="btn btn-default" ng-click=upgCtr.buyWorker($index) type=button ng-disabled=!upgCtr.canBuyWorker($index)>购买工人消耗  ${{item.price | bignum:2}}</button>
                                </div>
                                <div class=animate-slide ng-show=isWorkerBought($index)>
                                    <table class="shop table table-bordered">
                                        <tr>
                                            <td><b>强度等级 {{workerParams()[$index].strengthLevel}}</b>
                                                <br>创建 {{getWorkerStrength($index) | bignum:0:3}} 像素/行动
                                                <br><i>升级后: {{upgCtr.getWorkerNextStrength($index) | bignum:0:3}} 像素/行动</i>
                                                <br>
                                                <div class="btn-group btn-group-sm" role=group>
                                                    <button class="btn btn-default" ng-click=upgCtr.workerUpgradeStrength($index) type=button ng-disabled=!upgCtr.isWorkerStrengthUpgradeable($index)>升级消耗 ${{upgCtr.getWorkerUpgradeStrengthPrice($index) | bignum:2}}</button>
                                                    <button class="btn btn-default" ng-click="upgCtr.workerUpgradeStrength($index, 10)" type=button ng-disabled=!upgCtr.isWorkerStrengthUpgradeable($index)>+10</button>
                                                    <button class="btn btn-default" ng-click="upgCtr.workerUpgradeStrength($index, 100)" type=button ng-disabled=!upgCtr.isWorkerStrengthUpgradeable($index)>+100</button>
                                                </div>
                                                <td><b>效率等级 {{workerParams()[$index].efficiencyLevel}}</b>
                                                    <br>使用 {{getWorkerConsumption($index) | bignum:3:3}} 颜料/行动 or {{getWorkerConsumptionPerSec($index) | bignum:3:3}} 颜料/秒
                                                    <br><i>升级后: {{upgCtr.getWorkerNextConsumption($index) | bignum:3:3}} 颜料/行动 or {{upgCtr.getWorkerNextConsumption($index) / getWorkerDrawInterval($index) | bignum:3:3}} 颜料/秒</i>
                                                    <br>
                                                    <div class="btn-group btn-group-sm" role=group>
                                                        <button class="btn btn-default" ng-click=upgCtr.workerUpgradeEfficiency($index) type=button ng-disabled=!upgCtr.isWorkerEfficiencyUpgradeable($index)>升级消耗 ${{upgCtr.getWorkerUpgradeEfficiencyPrice($index) | bignum:2}}</button>
                                                        <button class="btn btn-default" ng-click="upgCtr.workerUpgradeEfficiency($index, 10)" type=button ng-disabled=!upgCtr.isWorkerEfficiencyUpgradeable($index)>+10</button>
                                                        <button class="btn btn-default" ng-click="upgCtr.workerUpgradeEfficiency($index, 100)" type=button ng-disabled=!upgCtr.isWorkerEfficiencyUpgradeable($index)>+100</button>
                                                    </div>
                                                    <tr>
                                                        <td><b>Drawing speed level {{workerParams()[$index].drawIntervalLevel}}</b>
                                                            <br>Makes {{1 / getWorkerDrawInterval($index) | bignum:3:3}} actions/second
                                                            <br><i>升级后: {{1 / upgCtr.getWorkerDrawNextInterval($index) | bignum:3:3}} actions/second</i>
                                                            <br>
                                                            <div class="btn-group btn-group-sm" role=group>
                                                                <button class="btn btn-default" ng-click=upgCtr.workerUpgradeDrawInterval($index) type=button ng-disabled=!upgCtr.isWorkerDrawIntervalUpgradeable($index)>升级消耗 ${{upgCtr.getWorkerUpgradeDrawIntervalPrice($index) | bignum:2}}</button>
                                                                <button class="btn btn-default" ng-click="upgCtr.workerUpgradeDrawInterval($index, 10)" type=button ng-disabled=!upgCtr.isWorkerDrawIntervalUpgradeable($index)>+10</button>
                                                                <button class="btn btn-default" ng-click="upgCtr.workerUpgradeDrawInterval($index, 100)" type=button ng-disabled=!upgCtr.isWorkerDrawIntervalUpgradeable($index)>+100</button>
                                                            </div>
                                                            <td><span ng-if="getWorkerAreaSize($index) == 0"><b>Area size:</b> whole picture</span> <span ng-if="getWorkerAreaSize($index) > 0"><b>Area size level {{workerParams()[$index].areaSizeLevel}}</b><br>Area size {{getWorkerAreaSize($index)}} pixels<br><i>升级后: {{upgCtr.getWorkerAreaNextSize($index)}} pixels</i><br><div class="btn-group btn-group-sm" role=group><button class="btn btn-default" ng-click=upgCtr.workerUpgradeAreaSize($index) type=button ng-disabled=!upgCtr.isWorkerAreaSizeUpgradeable($index)>升级消耗 ${{upgCtr.getWorkerUpgradeAreaSizePrice($index) | bignum:2}}</button> <button class="btn btn-default" ng-click="upgCtr.workerUpgradeAreaSize($index, 10)" type=button ng-disabled=!upgCtr.isWorkerAreaSizeUpgradeable($index)>+10</button> <button class="btn btn-default" ng-click="upgCtr.workerUpgradeAreaSize($index, 100)" type=button ng-disabled=!upgCtr.isWorkerAreaSizeUpgradeable($index)>+100</button></div></span>
                                                                <tr ng-if=upgCtr.isWorkerExpStrengthActive($index)>
                                                                    <td colspan=2><b>Exponential strength level {{workerParams()[$index].expStrengthLevel}}</b>
                                                                        <br>Increases the strength every action on {{getWorkerExpStrength($index) | bignum:0:3}} pixels
                                                                        <br><i>升级后: {{upgCtr.getWorkerExpStrengthNextSize($index) | bignum:0:3}} pixels</i>
                                                                        <br>
                                                                        <div class="btn-group btn-group-sm" role=group>
                                                                            <button class="btn btn-default" ng-click=upgCtr.workerUpgradeExpStrength($index) type=button ng-disabled=!upgCtr.isWorkerExpStrengthUpgradeable($index)>升级消耗 ${{upgCtr.getWorkerUpgradeExpStrengthPrice($index) | bignum:2}}</button>
                                                                            <button class="btn btn-default" ng-click="upgCtr.workerUpgradeExpStrength($index, 10)" type=button ng-disabled=!upgCtr.isWorkerExpStrengthUpgradeable($index)>+10</button>
                                                                            <button class="btn btn-default" ng-click="upgCtr.workerUpgradeExpStrength($index, 100)" type=button ng-disabled=!upgCtr.isWorkerExpStrengthUpgradeable($index)>+100</button>
                                                                        </div>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
                <div class=tab-content ng-if=tab.isSelected(3)>
                    <div class=row ng-controller="AchievementsController as achCtr">
                        <div ng-repeat="item in achCtr.achievementList">
                            <div class=col-xs-12>
                                <div class=list-group ng-class="{'tutorial-highlight':(isTutorialStepNameHighlight('achSuperClicker') && $index == 0) || (isTutorialStepNameHighlight('achQualImpr') && $index == 3) || (isTutorialStepNameHighlight('achOther') && $index != 0)}">
                                    <div class="list-group-item list-group-item-warning">
                                        <h4 class=list-group-item-heading>{{item.name}} {{achCtr.achievementsLevel()[$index] | bignum}}<span ng-if=item.levelMax> / {{item.levelMax}}</span></h4>
                                        <p class=list-group-item-text ng-bind-html=item.descr>
                                            <p class=list-group-item-text ng-if=achCtr.achievementsMult()[$index]>Current multiplier: x{{achCtr.achievementsMult()[$index] | bignum:1}}</p>
                                            <uibm-progressbar max=achCtr.getAchievementReq($index) value=achCtr.achievementStats()[$index] ng-if=!achCtr.isAchievementLevelCap($index)>{{achCtr.achievementStats()[$index] | bignum}} / {{achCtr.getAchievementReq($index) | bignum}}</uibm-progressbar>
                                            <p class="list-group-item-text achievement-max" ng-if=achCtr.isAchievementLevelCap($index)>MAX</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=tab-content ng-if=tab.isSelected(4)>
                    <div ng-controller="StatisticsController as statsCtr">
                        <p ng-repeat="(key, item) in statsCtr.statistics()"><b>{{statsCtr.statisticsList()[key].name}}</b>: <span ng-if="key != 'time'"><span ng-if="key == 'money'">$</span>{{item | bignum:(key == 'money' ? 2 : 0)}}</span><span ng-if="key == 'time'">{{statsCtr.getActiveTime()}}</span><span ng-if="key == 'money' || key == 'pixels'"> (rank: {{statsCtr.getBigValueRank(item) | number:0}})</span></div>
                </div>
                <div class=tab-content ng-if=tab.isSelected(5)>
                    <div class="panel panel-info">
                        <div class=panel-heading ng-bind=getBoostDialogHeader()></div>
                        <div class=panel-body>
                            <div class="animate-slide alert alert-warning" ng-show=!isAdsAvailable()>
                                <p>您当前没有可用的广告。</div>
                            <p class=text-center ng-repeat="(key, item) in boostList">
                                <button class="btn btn-default btn-lg" ng-click=showBoostDialog(key) ng-disabled="!isAdsAvailable() || !item.available()" ng-bind-html=item.title()></button> <span ng-show=!item.available()><br>{{item.unavailableText}}</span></div>
                    </div>
                </div>
                <div class=tab-content ng-if=tab.isSelected(6)>
                    <div ng-controller="SettingsController as setsCtr">
                        <div class=content-block><b>数据格式</b>
                            <div class=btn-group role=group>
                                <button class="btn btn-default" ng-click="setsCtr.setNumNotation('suffix')" type=button ng-class="{active:setsCtr.getNumNotation()=='suffix'}">标准格式</button>
                                <button class="btn btn-default" ng-click="setsCtr.setNumNotation('sci')" type=button ng-class="{active:setsCtr.getNumNotation()=='sci'}">科学计数法</button>
                            </div>
                        </div>例如: {{1e11+1 | bignum}}
                        <hr>
                        <div ng-if=isPictureQualityImproverActive()>
                            <div class=content-block><b>The picture quality auto-improve interval in seconds</b>
                                <br>
                                <form>
                                    <label class=radio-inline ng-repeat="value in setsCtr.pictureAutoImproveIntervalList">
                                        <input ng-model=setsCtr.pictureAutoImproveIntervalSec ng-change=setsCtr.onPictureAutoImproveIntervalChange() ng-value=value type=radio> {{value}}</label>
                                </form>
                            </div>
                            <hr>
                        </div>
                        <div class=content-block>
                            <div class=animate-slide>
                                <button class="btn btn-default" ng-click=setsCtr.hardResetDlg() type=button ng-disabled=setsCtr.showHardResetDlg>硬复位游戏</button> <span class=animate-fade ng-show=setsCtr.showHardResetDlg><b>你确定吗?</b> <button class="btn btn-danger" ng-click=setsCtr.hardResetConfirm(true) type=button>是的，我要清除全部游戏进度，从零开始。</button> <button class="btn btn-default" ng-click=setsCtr.hardResetConfirm(false) type=button>取消</button></span></div>
                        </div>
                        <hr>
                        <div class=content-block>
                            <div class=form-group ng-class="{'has-error':!setsCtr.saveStrOk}">
                                <label>导入/导出存档</label>
                                <p>
                                    <input ng-model=setsCtr.serializedSaveStr class=form-control ng-click=setsCtr.selectOnClick($event) ng-disabled=setsCtr.waitingSaveData() ng-init=setsCtr.updateSaveStr() placeholder="Export/import save data">
                                </p>
                                <button class="btn btn-default" ng-click=setsCtr.buttonGetSaveStr() ng-disabled=setsCtr.waitingSaveData() role=button><span class="glyphicon glyphicon-open"></span> 导出</button>
                                <button class="btn btn-default" ng-click=setsCtr.buttonLoadFromStr() ng-disabled=setsCtr.waitingSaveData() role=button><span class="glyphicon glyphicon-save"></span> 导入</button>
                                <p>要导出，请单击“导出”按钮并等待，然后单击上面的文本并将其复制（ctrl-c）。 要导入，粘贴（ctrl-v）导出的数据，然后单击“导入”按钮。</p>
                                    <p>导入的保存比您导出的更多钱和图片级别是正常的。 即使在导出保存的数据之后/导入之前，您的助手仍会继续工作。</p></div>
                        </div>
                        <hr>
                    </div>
                </div>
            </section>
            <div ng-controller="DebugController as dbgCtr">
                <div class="panel panel-default tutorial-highlight" ng-if=dbgCtr.isDebugEnabled>
                    <div class=panel-body>
                        <div class=row>
                            <div class=col-sm-7><b>跳过时间</b>:
                                <div class=btn-group role=group>
                                    <button class="btn btn-default" ng-click=dbgCtr.skipTime(60) type=button>1 分钟</button>
                                    <button class="btn btn-default" ng-click=dbgCtr.skipTime(300) type=button>5 min</button>
                                    <button class="btn btn-default" ng-click=dbgCtr.skipTime(600) type=button>10 mins</button>
                                    <button class="btn btn-default" ng-click=dbgCtr.skipTime(3600) type=button>1 hour</button>
                                    <button class="btn btn-default" ng-click=dbgCtr.skipTime(86400) type=button>1 day</button>
                                    <button class="btn btn-default" ng-click=dbgCtr.skipTime(2592000) type=button ng-if=0>1 month</button>
                                    <button class="btn btn-default" ng-click=dbgCtr.skipTime(31536000) type=button ng-if=0>1 year</button>
                                </div>
                            </div>
                            <div class=col-sm-3>
                                <button class="btn btn-default" ng-click=dbgCtr.getPicImprAch() type=button>Get pic impr ach.</button>
                            </div>
                            <div class=col-sm-2>
                                <button class="btn btn-default" ng-click=dbgCtr.addMoney(1e9) type=button>Add $1B</button>
                            </div>
                            <div class=col-sm-3><b>Last idle execution time</b>: {{dbgCtr.idleExecTimeLast() | number:3}}</div>
                            <div class=col-sm-3><b>Max idle execution time</b>: {{dbgCtr.idleExecTimeMax() | number:3}}</div>
                            <div class=col-sm-3><b>Save size max</b>: {{dbgCtr.saveSizeMax() | bignum:0}}</div>
                            <div class=col-sm-3><b>Save packed size max</b>: {{dbgCtr.savePackedSizeMax() | bignum:0}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animate-fade modal" role=dialog ng-show=isShowOfflineStats() style=display:block tabindex=-1>
                <div class=modal-dialog>
                    <div class=modal-content>
                        <div class=modal-header>
                            <h4 class=modal-title>欢迎回来<span ng-if=!kongregateInfo().isGuest>, {{kongregateInfo().userName}}</span>!</h4></div>
                        <div class=modal-body>
                            <p>你的离线时长为 {{offlineTime()}}.
                                <p>你获得了 <span class=num>${{offlineMoneyEarned() | bignum:2:3}}</span></div>
                        <div class=modal-footer>
                            <div class=text-center>
                                <button class="btn btn-primary" ng-click=hideOfflineStats() type=button>好的</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animate-fade modal" role=dialog ng-show=isBoostDialogVisible() style=display:block tabindex=-1>
                <div class=modal-dialog>
                    <div class=modal-content>
                        <div class=modal-header>
                            <h4 class=modal-title ng-bind=getBoostDialogHeader()></h4></div>
                        <div class=modal-body>
                            <p ng-bind-html=getBoostDialogText()>
                        </div>
                        <div class=modal-footer>
                            <div class=text-center>
                                <button class="btn btn-primary" ng-click=closeBoostDialog(true) type=button>{{getBoostDialogButtonText()}}</button>
                                <button class="btn btn-default" ng-click=closeBoostDialog(false) type=button>取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animate-fade modal" role=dialog ng-show=isShowChangeLog() style=display:block tabindex=-1>
                <div class=modal-dialog>
                    <div class=modal-content>
                        <div class=modal-header>
                            <h4 class=modal-title>更新日志</h4></div>
                        <div class=modal-body><b><u>版本 1.2.0</u></b>
                            <br>
                            <ul>
                                <li>魔术刷消耗量减少5倍
                                    <li>从第11级开始，图片的复杂性呈指数级增长
                                        <li>图片价格线性上涨
                                            <li>销售率在2,4,8,16等级增加。</ul>
                        </div>
                        <div class=modal-footer>
                            <div class=text-center>
                                <button class="btn btn-primary" ng-click=hideChangeLog() type=button>确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animate-fade in modal-backdrop" ng-show="isShowOfflineStats() || isBoostDialogVisible() || isShowChangeLog()"></div>
            <div class="animate-fade shadow" ng-show=isTutorialShowShadow()></div>
        </div>
    </div>
    <!--[if lt IE 9]><p class=ontop>You are using an <strong>outdated</strong> browser. Please <a href=http://browsehappy.com/ target=_blank>upgrade your browser</a> to improve your experience.<![endif]-->
    <noscript>
        <p class=ontop>必须启用JavaScript才能运行此游戏。</p>
    </noscript>
